div(id='ui')
  input(type='text' id='user-input')
  button(id='send')
    svg(id='send-icon' width="47" height="50" viewBox="0 0 55 45")   
      g
        path(id='snd-pt-1' style="fill:#e6e6e6;" d="m 2.6359417,33.8923 12.1141553,-13.1759 12.295,0 12.162276,13.1759 z")
        path(id='snd-pt-2' style="fill:#ececec;" d="m 39.207373,33.8923 -12.162276,-13.1759 12.162276,-11.3487 z")
        path(id='snd-pt-3' style="fill:#ececec;" d="m 14.750097,20.7164 -12.1141553,13.1759 0,-24.5246 z")   
        path(id='snd-pt-4' style="fill:#fff;" d="m 2.6359417,9.3678 36.5714313,0 -18.285716,17.9737 z")
